.photo-grid{
    max-width: 1184px;   
    margin: 118px auto 92px;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
}

.photo-grid__item{
    width: 100%;
    height: 213px;
    }
    